<div class="wrapper container">
  <h1>
    WT2 - Big Data
  </h1>
  <p>
    <%= viewData %>
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in tortor mi. Sed lacus sapien, rhoncus aliquet pellentesque eu, hendrerit et urna. Vestibulum vel ligula dolor. Integer gravida nisi vel lectus efficitur eleifend. Maecenas sodales urna sed tellus tempus, at iaculis elit cursus. Ut rhoncus porta augue at ultrices. 
  </p>
</div>
<!-- /container -->