<div class="wrapper container">
  <h1 class="center">Top 10 IMDB rated on Netflix</h1>
  <div><canvas id="myChart"></canvas></div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script type="text/javascript">
    const data = JSON.parse('<%- JSON.stringify(viewData) %>')
    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: data.map(movie => movie.title),
        datasets: [{
          label: 'IMDB score on movie',
          data: data.map(movie => movie.imdbScore),
          backgroundColor: [
                'rgba(0, 179, 224, 0.2)'
            ],
            borderColor: [
                'rgba(0, 179, 224, 1)'
            ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>
</div>
<!-- /container -->